<!DOCTYPE html>
<html lang="en">
<head>

<!--TITLE-->
<title>Farmer dash</title>

<!--ICON-->
<link rel="shortcut icon" href="/DevanagariBrahmi/logo.png">

<!--META TAGS-->
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="author" content="Team Bboysdreamsfell">
<meta name="description" content="">
<meta name="keywords" content="">
<meta property="og:locale" content="en_US" />
<meta property="og:url" content="" />
<meta property="og:site_name" content="Profiler Name || Krishivalahs" />

<!--EXTERNAL CSS-->
<link rel="stylesheet" href="css/style.css">
<script src="javascript/dash.js" defer></script>



<!--PLUGIN-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

<!--FONT AWESOME-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--GOOGLE FONTS-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Oswald:wght@300;400&family=Ubuntu:wght@700&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet"> 

<body style="background: -webkit-linear-gradient(right, #81d611, #217408, #4fd610, #57fa42);">
<%- include('header'); -%>

<div class="container">

<table>

<tr>

<td>
<section>
<!-- <label for="fileToUpload">
<i class="fa fa-camera"></i>
<input type="file" id="fileToUpload" style="visibility:hidden;" accept=".png,.jpg,jpeg,.PNG,.JPEG" name="fileToUpload" onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])">
</label> -->
<img src="https://i.ibb.co/yNGW4gg/avatar.png" id="blah" alt="Avatar">
</section>
<h1><%= firstName %>&nbsp;<%=lastName %></h1>
<h3>Business Man</h3>
</td>

<td>
<ul class="profile">
<li><b>Full name</b> <input type="text" name="fname" id="fname" maxlength="100" value="<%= firstName %> <%= lastName %>" required /> </li>

<li><b>Email</b> <input type="email" name="email" id="email" maxlength="150" value="<%= email %>" required /></li>

<li><b>Contact number</b> <input type="tel" name="mobile" id="mobile" maxlength="10" value="<%= contactNo %>" required /> </li>

<li><b>Aadhar</b> <input type="text" name="aadhar" id="aadhar" maxlength="14" value="<%= aadhar %>" required /></li>

<li><b>Land in acre</b> <input type="text" name="acre" id="acre" maxlength="14" value="<%= land %>" required /></li>
</ul>
</td>

</tr>


</table>
    
<div id="list">
    <tbody>
        <table>
            <tr>
                <th>Company Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Requests</th>
            </tr>
            <tr>
                <td>Name</td>
                <td>Pincode</td>
                <td>Contact</td>
                <td><button class="Request">Request</button></td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Pincode</td>
                <td>Contact</td>
                <td><button class="Request">Request</button></td>
            </tr>
        </table>
        
    </tbody>
</div>


</div>
<%- include('footer'); -%>


</body>



</html>